numpy==1.26.4
matplotlib==3.8.4
opencv-python==4.9.0.80
PyYAML==6.0.2
pillow==10.4.0
pandas==2.2.3
tqdm==4.66.5
ipykernel==6.29.5
jupyter==1.0.0
notebook==7.2.2
ultralytics
torch==2.7.0
torchvision==0.22.0
